{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <h1>2fa Authentication SetUp</h1>
            <p>You are almost done! Please start FreeOTP on your smartphone and scan the following QR Code with it:</p>
            <p>
                <img id="qrcode" src="{{ url_for('qrcode') }}">
            </p>
            <!-- <p>I am done! Take me to the <a href="{{ url_for('login') }}">Login</a> page.</p> -->
            <a href="{{ url_for('login') }}"><button type="button" class="btn btn-light">Login</button></a>
        </div>
    </div>    
{% endblock %}